<div class="row">
	<div class="container-fluid formContainer">
		<div class="row">
			<h3 class="col-md-8 col-sm-8">Items</h3>
			<div style="margin: 12px 0px 10px 0px;" class="col-md-4 col-sm-4">
				<div class="form-group has-feedback" style="margin: 0px;">
					<input type="text" class="form-control" data-ng-model="searchterm" data-ng-change="search()" placeholder="Search" />
					<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
		</div>
		<hr />
		<div style="margin-bottom: 5px;">
			<button type="button"
					class="btn btn-primary btn-sm"
					data-ng-click="addItemModal()">
				<span class="fa fa-user-plus"></span> Create Item
			</button>
		</div>
		<div class="classgroupBlock">
			<div class="row">
				<div class="col-sm-6 col-md-4" data-ng-repeat="item in items">
					<div class="operRegion resource" data-tr-hover-edit-delete
						data-edit-method="updateItemModal(item)" data-delete-method="deleteItemModal(item)">
						<a><h5 data-ui-sref="study.itemfull({itemId: item.id})">{{$index + 1}}. {{item.name || 'Name'}}<span class="badge pull-right">{{item.balance || 0}} {{item.measureType}}</span></h5></a>
						<div><span>Short Code: <i>{{item.shortCode || 'Short Code for Item'}}</i></span></div>
						<div><span>Measured in: <i>{{item.measureType || 'Measured In'}}</i></span></div>
						<div><span>Created By: <i>{{item.createdBy || 'Creator for Item'}}</i></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>