<div class="row">
	<div class="container-fluid formContainer">
		<div class="row">
			<h3 class="col-md-8 col-sm-8">Item History</h3>
		</div>
		<hr />
		<div style="margin-bottom: 5px;">
			<a class="pull-right" data-ui-sref="study.item"><span class="fa fa-long-arrow-left"></span> Back to items</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>From</th>
					<th>Item Name</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="itemTransfer in itemTransfers">
					<td>
						<div class="panel panel-default">
							<div class="panel-heading">
						    	<a><span data-ng-click="toggleCustom(itemTransfer)" class="fa fa-cogs" class="panel-title"> {{$index + 1}}.</span>
						    	<span data-ng-click="toggleCustom(itemTransfer)">{{itemTransfer.name}}</span></a>
						    	<span class="pull-right" data-ng-click="toggleCustom(itemTransfer)">{{parseDate(itemTransfer.created)}}</span>						  	
						 	</div>
							 <div id="collapseOne" data-ng-show="itemTransfer.custom" class="panel-collapse collapse in">
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Status</th>
												<th>Quantity</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="itemTransferDetail in itemTransfer.itemTransferDetails">
												<td>
													{{itemTransferDetail.itemTranferDetailsStatus}}
												</td>
												<td>
													{{itemTransferDetail.quantity}} {{itemTransfer.item.measureType}}.
												</td>
												<td>
													{{parseDate(itemTransferDetail.created)}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<td>
							<span>{{itemTransfer.buyer}}</span>
						</td>
						<td>
						   	<span>{{itemTransfer.item.name}}</span>
						</td>    	
					</td>
				</tr>
			</tbody>
		</table>			
	</div>
</div>